body{
    background-image: url("/img/sky.jpg");
}
.text, .select {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    text-align-last: center;
    
}
#result, #resultTime, p{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 10px;
}
#result, #resultTime {
    color: red;
    font-size: 25pt;
    text-align: center;
}
#install-btn {
    display: none;
}
.timeSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align-last: center; 
}
